
<!DOCTYPE HTML>
<html>
	<head>
		<title>0hh Website Template | Home :: W3layouts</title>
		<meta name="keywords" content="404 iphone web template, Andriod web template, Smartphone web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
		<link href="css/style (2).css" rel="stylesheet" type="text/css"  media="all" />
	</head>
	<body>
		<!--start-wrap--->
		<div class="wrap">
			<!---start-header---->
				<div class="header">
					<div class="logo">
						<!--<h1><a href="#">Ohh</a></h1>-->
						<img src="images/utezAplicacionEncabezado.png" height="100" title="error" />
					</div>
				</div>
			<!---End-header---->
			<!--start-content------>
			<div class="content">
				<img src="images/error-imagen500.png" width="450" height="450" title="error" />
				<p>¡Lo sentimos! Tenemos problemas con el servidor</p>
				<p>Cualquier duda o aclaración favor de dirigirse con el encargado de los Horarios escolares de DATIC</p>
				<a href="#">Regresar al Inicio</a>


				<div class="copy-right">
					<p>&#169 Disponibilidad Horarios | <a href="http://www.utez.edu.mx/">utez.edu.mx</a></p>
				</div>
   			</div>
			<!--End-Cotent------>
		</div>
		<!--End-wrap--->
	</body>
</html>

